.login__link {
  font-size: 14px;
  line-height: 1.214;
  margin-top: 15px;
  text-decoration: none;
  color: var(--color-white);
  display: block;
  transition: opacity .3s ease;
  text-align: center;
}

.login__link:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .login__link {
    margin-top: 20px;
  }
}