.modal__input {
  display: block;
  width: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.22;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 0 8px;
  box-sizing: border-box;
}

.modal__input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .modal__input {
    padding: 0 0 8px;
  }
}