.element__delete-button {
  width: 18px;
  height: 20px;
  padding: 0;
  background-image: url(../../../images/delete-button.svg);
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  cursor: pointer;
}