.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 28px 0 31px;
    flex-direction: column-reverse;
  }
}